* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0px;
}

.outer {
    width: 100%;
    border: 1px solid black;
}

header {
    display: block;
    width: 100%;
    height: 600px;
    border: 1px solid black;
}

.header,
.header-wrapper {
    background-position: 50% 0;
    background-size: cover;
    position: relative;
    transition: background-color .3s, opacity .3s;
    width: 100%;
    z-index: 30;
}