* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
}

.video {
    width: 100%;
    height: auto;
}

.myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.form-right {
    float: right;
}