*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* font-family: ; */
    background: #fff;

}
.wrapper{
    /* max-width: 1000px; */
    margin: 0 auto;
}
.wrapper h1{
    padding: 30px 0;
    text-align: center;
    text-transform: uppercase;

}
.project{
    display: flex;
}
.shop{
    flex: 75%;
    /* overflow-y: auto;
    overflow-x: hidden;
    max-height:580px;
    scroll-behavior: smooth; */
}

.box{
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #fff;
    transition: all .6s ease;
    box-shadow: rgba(100, 100, 100, 0.2) 0 7px 29px 0;

}
.box:hover{
    transform: scale(1.02);
}
.box img{
    width: 300px;
    height: 200px;
    object-fit: cover;
}
.content{
    padding: 20px;
    position: relative;
    width: 100%;
}
.content h4{
    margin-bottom: 50px;
}
.btn-area{
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background: #3a71a9;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}
.btn-area:hover{
    background: #3a71a9;
    color: #fff;

}
.unit input{
    width: 50px;
    padding: 8px;
    text-align: center;
}
.btn-area i {
    margin-right: 5px;
}
p{
    color: black !important; 
}
.right-bar{
    flex: 25%;
    margin-left: 20px;
    padding: 20px;
    height: 400px;
    border-radius: 5px;
    background: #fff;
    box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
}
.right-bar hr{
    margin-bottom: 25px;
}
.right-bar p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;

}
.right-bar a{
    background-color: #3a71a9;
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    font-weight: 900; 
}
.right-bar i{
    margin-right: 15px;
}
.right-bar a:hover{
    background-color: #397ca7;
}

@media screen and (max-width:700px){
    .content h3{
        margin-bottom: 15px;
    }
    .content h4{
        margin-bottom: 20px;
    }
    .btn2{
        display: none;
    }
    .box{
        height: 150px;
    }
    .box img{
        height: 150px;
        width: 200px;
    }
}
@media screen and (max-width:900px){
    .project{
        flex-direction: column;
    }
    .right-bar{
        margin-left: 0;
        margin-bottom: 20px;
    }
}
@media screen and (max-width:1250px){
    .wrapper{
        max-width: 95%;
    }
}