.row.row-collapse {
    max-width: 1050px;
}

.row-collapse {
    padding: 0;
}

.gallery, .row {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}

.container, .container-width, .full-width .ubermenu-nav, .row, body {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.row-collapse>.col, .row-collapse>.flickity-viewport>.flickity-slider>.col {
    padding: 0!important;
}

@media screen and (min-width: 850px)
.gallery-columns-1 .gallery-item, .large-12, .large-columns-1 .flickity-slider>.col, .large-columns-1>.col {
    flex-basis: 100%;
    max-width: 100%;
}

@media screen and (min-width: 850px) {
    .col:first-child .col-inner {
        margin-left:auto;
        margin-right: 0
    }

    .col+.col .col-inner {
        margin-left: 0;
        margin-right: auto
    }
}

@media screen and (max-width: 549px) {
    .small-col-first {
        order:-1
    }
}

@media screen and (min-width: 850px) {
    .large-col-first {
        order:-1
    }
}

@media screen and (max-width: 849px) {
    .medium-col-first {
        order:-1
    }

    .col {
        padding-bottom: 30px
    }
}

@media screen and (min-width: 850px) {
    .row-divided>.col+.col:not(.large-12) {
        border-left:1px solid #ececec
    }

    .row-divided.row-reverse>.col+.col:not(.large-12) {
        border-left: 0;
        border-right: 1px solid #ececec
    }

    .col-divided {
        border-right: 1px solid #ececec;
        padding-right: 30px
    }

    .col.col-divided:not(.col-first):last-child {
        border-left: 1px solid #ececec;
        border-right: 0;
        padding-left: 30px;
        padding-right: 0
    }

    .col-border {
        border-right: 1px solid #ececec;
        padding-right: 0
    }

    .col-border+.col,.col-divided+.col {
        padding-left: 30px
    }
}


@media screen and (min-width: 850px) {
    .large-1 {
        flex-basis:8.3333333333%;
        max-width: 8.3333333333%
    }

    .large-2 {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%
    }

    .large-3 {
        flex-basis: 25%;
        max-width: 25%
    }

    .large-4 {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%
    }

    .large-5 {
        flex-basis: 41.6666666667%;
        max-width: 41.6666666667%
    }

    .large-6 {
        flex-basis: 50%;
        max-width: 50%
    }

    .large-7 {
        flex-basis: 58.3333333333%;
        max-width: 58.3333333333%
    }

    .large-8 {
        flex-basis: 66.6666666667%;
        max-width: 66.6666666667%
    }

    .large-9 {
        flex-basis: 75%;
        max-width: 75%
    }

    .large-10 {
        flex-basis: 83.3333333333%;
        max-width: 83.3333333333%
    }

    .large-11 {
        flex-basis: 91.6666666667%;
        max-width: 91.6666666667%
    }

    .gallery-columns-1 .gallery-item,.large-12,.large-columns-1 .flickity-slider>.col,.large-columns-1>.col {
        flex-basis: 100%;
        max-width: 100%
    }

    .gallery-columns-2 .gallery-item,.large-columns-2 .flickity-slider>.col,.large-columns-2>.col {
        flex-basis: 50%;
        max-width: 50%
    }

    .gallery-columns-3 .gallery-item,.large-columns-3 .flickity-slider>.col,.large-columns-3>.col {
        flex-basis: 33.3333333333%;
        max-width: 33.3333333333%
    }

    .gallery-columns-4 .gallery-item,.large-columns-4 .flickity-slider>.col,.large-columns-4>.col {
        flex-basis: 25%;
        max-width: 25%
    }

    .gallery-columns-5 .gallery-item,.large-columns-5 .flickity-slider>.col,.large-columns-5>.col {
        flex-basis: 20%;
        max-width: 20%
    }

    .gallery-columns-6 .gallery-item,.large-columns-6 .flickity-slider>.col,.large-columns-6>.col {
        flex-basis: 16.6666666667%;
        max-width: 16.6666666667%
    }

    .gallery-columns-7 .gallery-item,.large-columns-7 .flickity-slider>.col,.large-columns-7>.col {
        flex-basis: 14.2857142857%;
        max-width: 14.2857142857%
    }

    .gallery-columns-8 .gallery-item,.large-columns-8 .flickity-slider>.col,.large-columns-8>.col {
        flex-basis: 12.5%;
        max-width: 12.5%
    }
}

/* .col, .columns, .gallery-item {
    margin: 0;
    padding: 0 15px 30px;
    position: relative;
    width: 100%;
} */